<div class="row signup-section-outer">
    <div class="col-lg-8">
        <img src="assets/coworker.jpg">
     </div>
    <div class="col-lg-4">
        <table class="signup-table">
            <tbody>
                <tr>
                    <td> <input id="firstName" type="text" ng-model="user.firstName" placeholder="First Name"> </td>
                </tr>
                <tr>
                    <td ><input id="lastName" type="text" ng-model="user.lastName" placeholder="Last Name"></td>
                </tr>    
                <tr>
                    <td ><input id="email" type="email" ng-model="user.email" placeholder="Email"></td>
                </tr>
                <tr>
                    <td ><input id="passWord" type="password" ng-model="user.password" placeholder="Password"></td>
                </tr>
                <tr>
                    <td ><input id="nextstep" type="button" value="Next Step" ng-click="signUp()"></td>
                </tr>
            </tbody>
        <table>
      </div>    
    
    </div>