body {
    -webkit-appearance:none;
    color:#516D16
}

input[type="button"] {
    background:#A97465;
    outline:none;
    border:solid 1px #A97465;
    border-radius:25px;
    color:white!important;
    width:100px;
    height:50px;
    margin-right:5px;
    margin-left:5px;
}

/*Sign Up Section Detailing*/

.signup-section-outer{
    background:#516D76;

}
.signup-section {
    padding-left:0px;
    
}

.signup-section img {
    width:960px;
}

.signup-table {
    margin:70px auto;
}

.signup-section td {
    height:100px;
    /*border:1px solid black;*/
}

.signup-section input {
    font-family:'Open Sans', sans-serif;
    background:#516D76; 
    color:white;
    width:400px;
    border:none;
    border-bottom: 1px solid #A5B6C3;
    font-size: 28px;
    transition:border 600;
    
}

.signup-section input:focus {
    outline:none;
    border-bottom:2px solid #33A3CD;
     

}

/*Menu Navigation*/

.menu-nav{
    color:black;  
    float:center;
    height:100px;
    background:white;
    font-family:'Open Sans', sans-serif;
    font-size:28px;   
    color:#607A99;
    padding-top:36px;
}


.calendar-view-switch-btn{
    width:40px !important;
    height:40px !important;

}

.hdrOutline {
    width: 100%;
    height: 80px;
    background:#343C48;
    position:fixed !important;
    overflow:hidden;
    color:white;
    z-index:1000;
    -webkit-box-shadow: 0px 6px 73px -12px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 6px 73px -12px rgba(0,0,0,0.74);
box-shadow: 0px 6px 73px -12px rgba(0,0,0,0.74);
}

.ftrOutline {
    width:100%;
    height:25px;
    position:relative;
    bottom:0px;
    background:#2b2b2b;
    color:black;

}

.signUpForm {
    padding-top:100px;
}
.logintable {
    float:right;
}

.loginpanel{
    padding-top:15px;
    margin-right:5px;
}

/*.loginpanel>input[type="button"] {
    background:inherit;
    outline:none;
    border:solid 1px #A97465;
    border-radius:25px;
    color:white;
    width:100px;
    height:50px;
    margin-right:10px;
    
}*/

#userName,#password {
    font-family:'Open Sans', sans-serif;
    background:inherit; 
    color:white;
    width:200px;
    border:none;
    border-bottom: 1px solid #A5B6C3;
    font-size: 21px;
    transition:border 1000 all-in-ease-out;  
    margin:0 10px 0 10px;
}
 #userName:focus,#password:focus {
    outline:none;
    border-bottom:2px solid #33A3CD;
     
 }

.newinput {
    background:none;
}

.newinput>input {
    font-size:14px;
    width:250px;
    border:none;
    border-bottom:1px solid gray;
    margin-right:15px;
    transition:border 100ms
}

.newinput>input:focus {
    border-bottom:4px solid black;
}
.loginpanel>input:focus {
    outline:none;
}

.create-switch>input[type="button"] {
    background:#A97465;

}

.sidemenu {
    position:fixed;
    top:80px;
    width:120px;
    color:white;
    background:#A5B6C3;   
    height:100%;
 -webkit-box-shadow: -31px -2px 73px -12px rgba(0,0,0,0.74);
-moz-box-shadow: -31px -2px 73px -12px rgba(0,0,0,0.74);
box-shadow: -31px -2px 73px -12px rgba(0,0,0,0.74);
}

.menu{
    position:relative;
    font-size:14px;
    

}

.menu-elements
{
    padding:10px 5px 10px 5px;

}

.menu-elements>input[type="checkbox"] {
display:none !important;
}

.calendar-view-switch-btn {
    background:none;
    border:none;
    color:blue;
    font-size:18px;

}

.calendar-view-switch-btn:hover {
    color:black;
    border-bottom:solid 1px gray;
}

.calendar-view-switch-btn:focus {
    color:black;
    border-bottom:solid 1px black;
    outline:none;
}

#profile,#booking,#team,#invoices,#payments {
    display:none !important;
}