
    <div class="row">
        <div class="col-lg-6"> 
            <h1><span class="page-title">Grappus Coworking</span></h1>
        </div>
        <div class="col-lg-6">
            <table class="logintable">
                <tbody>
                    <tr>
                        <td class="loginpanel" ng-show="loginPressed">
                            <input id="userName"  type="text" ng-model="user.userName" placeholder="john@example.com">
                        </td>
                        <td class="loginpanel" ng-show="loginPressed">    
                            <input id="password" type="password" ng-model="user.password" placeholder="password">
                        </td>
                        <td class="loginpanel">
                            <input id="loginBtn"  type="button" value="Login" ng-click="loginuser()">
                        </td>
                        <td class="loginpanel">    
                            <input id="signUpBtn" type="button" value="Sign Up" ng-click="showSignUpForm()">
                        </td>
                    </tr>
                 </tbody>
            </table>            
        
        </div>    
    </div>
